---
layout: default
title: Phương Pháp Nghiên Cứu Blog
home: 01
ads: true 
---

<!--/// Blog Area /// -->
{% include featured-widget-02.html %}

{% if page.ads == true %}
<!--/// Blog Area /// -->
<div class="blog-area">
   <div class="container">
      <div class="text-center  themeix-ads"><a href="#">
         <img class="lazyload" src="{{'/assets/images/blog-ads.png' | relative_url}}" alt="image" /></a>
      </div>
   </div>
</div>
{% endif %}

<!--/// Blog Area /// -->
<div class="blog-area py-5 ">
   <div class="container-fluid">
      <div class="row">
         <div class="order-2 order-md-1 col-xl-3 col-lg-3 col-md-3">
            {% include left-sidebar.html %}
         </div>
         <div class="order-1 order-md-2 col-xl-6 col-lg-6 col-md-4">
            {% for post in site.posts %}
               <div class="nf-post-item">
                  {% include blog-style/blog-style-02.html %}
               </div>
            {% endfor %}
            <div class="row">
               <div class="col mt-1">
                  <button class="btn btn-light mb-2 w-100 loadmore-h">
                     Load More
                  </button>
               </div>
            </div>
         </div>
         <div class="order-3 order-md-3 col-xl-3 col-lg-3 col-md-3 pt-4 pt-md-0">
            {% include sidebar.html %}
         </div>
      </div>
   </div>
</div>


{% assign cat = "Tác giả chọn" %}
{% assign cat_slug = "tac-gia-chon" %}
{% assign posts = site.posts | where: "categories", cat_slug %}
{% assign post_limit = 3 %}
{% include nf-widget-03.html %}

<!--/// Blog Area /// -->
<div class="blog-area py-5">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6 col-lg-4 pb-3">
            {% assign cat = "Học SPSS" %}
            {% assign cat_slug = "hoc-spss" %}
            {% assign posts = site.posts | where: "categories", cat %}
            {% assign post_limit = 3 %}
            {% include nf-widget-05.html %}
         </div>
         <div class="col-md-6 col-lg-4  pb-3">
            {% assign cat = "Học SmartPLS" %}
            {% assign cat_slug = "smartpls" %}
            {% assign posts = site.posts | where: "categories", cat %}
            {% assign post_limit = 3 %}
            {% include nf-widget-05.html %}
         </div>
         <div class="col-md-6 col-lg-4  pb-3">
            {% assign cat = "Học AMOS" %}
            {% assign cat_slug = "amos" %}
            {% assign posts = site.posts | where: "categories", cat %}
            {% assign post_limit = 3 %}
            {% include nf-widget-05.html %}
         </div>
      </div>

      {% assign cat = "Nghiên cứu định lượng" %}
      {% assign cat_slug = "quantitative-method" %}
      {% assign posts = site.posts | where: "categories", cat %}
      {% assign limit = 4 %}
      {% include nf-widget-02.html %}

      {% assign cat = "Nghiên cứu định tính" %}
      {% assign cat_slug = "qualitative-method" %}
      {% assign posts = site.posts | where: "categories", cat %}
      {% assign limit = 4 %}
      {% include nf-widget-02.html %}

      {% assign cat = "Nghiên cứu hỗn hợp" %}
      {% assign cat_slug = "mixed-method" %}
      {% assign posts = site.posts | where: "categories", cat %}
      {% assign limit = 4 %}
      {% include nf-widget-02.html %}

   </div>
</div>



{% include cta-section.html %}