<header class="header-area">
  <div class="header-navbar-top py-1 bg-light  d-none d-lg-block">
    <div class="container{% if page.home == 6 or page.layout == 'post2' %}-fluid{% endif %}">
      <div class="header-newsticker-menu">
        {% if site.top_letest_news %}
        <div class="newsticker">
          <div class="newsticker-btn">Tin mới nhất</div>
          <div class="newsticker-list">
            <ul class="list-inline">
              {% assign posts = site.posts | sort: 'date' | reverse %}
              {% for post in posts limit:5 %}
                <li>
                  <a href="{{post.url | relative_url}}">{{post.title}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        <div class="newsticker-social">
          <ul class="list-inline">
            {% if site.facebook %}
            <li class="list-inline-item"><a class="bg-primary" href="{{site.facebook | relative_url}}"><i
                  class="fab fa-facebook-f"></i></a>
            </li>
            {% endif %}

            {% if site.twitter %}
            <li class="list-inline-item"><a class="bg-info" href="{{site.twitter | relative_url}}"><i
                  class="fab fa-twitter"></i></a>
            </li>
            {% endif %}

            {% if site.instagram %}
            <li class="list-inline-item"><a class="bg-danger" href="{{site.instagram | relative_url}}"><i
                  class="fab fa-instagram"></i></a>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="header-navbar-middle d-none d-lg-block">
    <div class="container{% if page.home == 6 or page.layout == 'post2' %}-fluid{% endif %} {{page.home}}5">
      <div class="navbar-brand-wrapper py-3 d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="{{'/' | relative_url}}">
          <img class="lazyload" src="{{site.logo | relative_url}}" alt="{{site.title}}">
        </a>
      </div>
    </div>
  </div>
  <div class="header-navbar-bottom pt-2 pt-lg-0 border-top border-light">
    <div class="container{% if page.home == 6 or page.layout == 'post2' %}-fluid{% endif %} themeix-menu-selector">

      <nav class="navbar navbar-expand-lg">

        <div class="collapse navbar-collapse" id="main_nav">
          {% include navigation.html %}
        </div>
        
        <div class="search-modal" data-bs-toggle="modal" data-bs-target="#search-modal">
          <a class="nav-link" href="#"> <i class="fas fa-search"></i> </a>
        </div>
      </nav>

      {% include modal-search.html %}
    </div>
  </div>
</header>