<div class="sidebar-widget mb-3 border border-light rounded">
    <div class="wrapper">
       {% assign cat = "Trending" %}
       {% assign cat_slug = "trending" %}
       {% assign posts = site.posts | where: "categories", cat %}
       {% assign post_limit = 5 %}
       {% include nf-widget-05.html %}
    </div>
 </div>

 <div class="sidebar-widget mb-3 border border-light rounded">
    <div class="wrapper">
       <ul class="nav nav-tabs" id="tab-menu">
          <li class="nav-item">
             <a class="active" data-bs-toggle="tab" href="#tab1">Sports News</a>
          </li>
          <li class="nav-item">
             <a data-bs-toggle="tab" href="#tab2">Most Recent </a>
          </li>
       </ul>
       <div class="tab-content" id="tab-content">
          <div class="tab-pane fade show active" id="tab1">
             <ul class="counter-post list-inline">
               {% assign cat = "Sports" %}
               {% assign posts = site.posts | where: "categories", cat %}
                {% for post in posts limit:5 %}
                   <li class="counter-post-item">
                      <a href="{{post.url | relative_url}}">{{post.title}}</a>
                   </li>
                {% endfor %}
             </ul>
          </div>
          <div class="tab-pane fade" id="tab2">
             <ul class="counter-post list-inline">
                {% for post in site.posts limit:5 %}
                   <li class="counter-post-item">
                      <a href="{{post.url | relative_url}}">{{post.title}}</a>
                   </li>
                {% endfor %}
             </ul>
          </div>
       </div>
    </div>
 </div>
 <div class="sidebar-widget mb-3 border border-light rounded">
    <div class="wrapper">
       <div class="row">
          <div class="col-md-12">
             <div class="section-title-block d-flex pb-3">
                <h3 class="section-widget-title">Tag Cloud</h3>
                <a href="{{'/tags' | relative_url}}" class="text-uppercase section-title-link">
                   See all
                   <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path
                         d="M1.5 13.5h17.79l-5.445 6.54a1.502 1.502 0 102.31 1.92l7.5-9a1.78 1.78 0 00.135-.226c0-.075.075-.12.105-.195A1.5 1.5 0 0024 12a1.499 1.499 0 00-.105-.54c0-.075-.075-.12-.105-.195a1.766 1.766 0 00-.135-.225l-7.5-9A1.499 1.499 0 0015 1.5a1.5 1.5 0 00-1.155 2.46l5.445 6.54H1.5a1.5 1.5 0 100 3z">
                      </path>
                   </svg>
                </a>
             </div>
          </div>
       </div>
       <ul class="tag-cloud list-inline">
         {% for tag in site.tags %}
            <li class="list-inline-item"><a
                  class="btn bg-light text-secondary bg-hover-danger text-hover-white bg-hover-danger text-hover-white"
                  href="{{'/tag/' | relative_url}}{{tag[0]}}">{{tag[0] | capitalize}}</a>
            </li>
          {% endfor %}
       </ul>
    </div>
 </div>
 
 <div class="sidebar-widget border border-light rounded">
    <div class="wrapper">
       <h3>Đăng ký bây giờ</h3>
       <p>Luôn nhận tin mới nhất!</p>
       <form method="POST" action="{{site.mailchimp}}" class="subscription-from">
          <div class="input-group">
             <input type="email" name="Email" class="form-control" placeholder="Nhập email của bạn">
             <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">Đăng ký</button>
             </div>
          </div>
       </form>
    </div>
 </div>
 